<div class="faq oov">
    <div class="faq-exit">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
          </svg>
    </div>
    <h3>Preguntas frecuentes:</h3>

    <div class="q-container">
        <ul>
            <hr class="faq-break">
            <li><a href="" class="questions">多Como puedo realizar la compra?</a></li>
            <hr class="faq-break">
            <li><a href="" class="questions">多Cual es el costo de retiro en un comercio?</a></li>
            <hr class="faq-break">
            <li><a href="" class="questions">多Como puedo seguir el estado de mi pedido?</a></li>
            <hr class="faq-break">
            <li><a href="" class="questions">多Cuales son los medios de pago aceptados?</a></li>
            <hr class="faq-break">
            <a href="https://tienda.coca-cola.com.ar/faq" class="other-questions">Mas preguntas</a>
        </ul>
    </div>
</div>
<div class="faq-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="red" class="faq-svg bi bi-chat-square-dots-fill " viewBox="0 0 16 16">
        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      </svg>
</div>