<footer>
    <div class="curve-4">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
            preserveAspectRatio="none">
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"></path>
        </svg>
    </div>
    <div class="footer-container">
        <div class="footer-container-left">
            <a href="#"><img src="/img/logo-white.png" alt="Logo de Coca-Cola blanco"></a>
        </div>
        <div class="footer-container-center">
            <h3>Ayuda dando tu consejo u opinion</h3>
            <form class="review-form" action="https://formspree.io/f/mbjqnoyq" method="POST">
                <fieldset>
                    <label>
                        Coloca tu mail:
                        <input type="email" name="_replyto">
                    </label>
                    <label>
                        Escribi el mensaje:
                        <textarea name="message"></textarea>
                    </label>
                </fieldset>
                <!-- your other form fields go here -->
                <fieldset class="sbm-center">
                    <button type="submit">Enviar</button>
                </fieldset>
            </form>
        </div>
        <div class="footer-container-right">
            <a target="_blank" href="https://www.facebook.com/cocacolaar/?brand_redir=40796308305"><svg
                    xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 29">
                    <path fill="white" fill-rule="nonzero"
                        d="M25.713 0H3.673C1.647 0 0 1.626 0 3.625v21.75C0 27.375 1.647 29 3.673 29h11.02v-9.969H11.02V14.5h3.673v-3.625c0-3.003 2.467-5.438 5.51-5.438h3.673V9.97H22.04c-1.014 0-1.837-.095-1.837.906V14.5h4.592l-1.837 4.531h-2.755V29h5.51c2.026 0 3.673-1.626 3.673-3.625V3.625c0-2-1.647-3.625-3.673-3.625z" />
                </svg></a>
            <a target="_blank" href="https://www.instagram.com/cocacola/?hl=es"><svg
                    xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="" class="bi bi-instagram"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />

                </svg></a>
            <a target="_blank" href="https://twitter.com/cocacolaco_es?lang=es"><svg
                    xmlns="http://www.w3.org/2000/svg" width="31" height="25" viewBox="0 0 31 25">
                    <path fill="white" fill-rule="nonzero"
                        d="M30.257 3.551a12.691 12.691 0 0 1-3.47.94 5.927 5.927 0 0 0 2.65-3.287 12.137 12.137 0 0 1-3.82 1.44A6.075 6.075 0 0 0 21.215.761c-3.336 0-6.02 2.672-6.02 5.947 0 .471.04.924.139 1.355A17.128 17.128 0 0 1 2.917 1.846a5.926 5.926 0 0 0-.824 3.005c0 2.059 1.074 3.884 2.676 4.94a6.01 6.01 0 0 1-2.722-.731v.065c0 2.889 2.088 5.289 4.826 5.841a6.088 6.088 0 0 1-1.58.196c-.385 0-.774-.022-1.14-.101a6.072 6.072 0 0 0 5.63 4.141 12.208 12.208 0 0 1-7.47 2.536c-.494 0-.968-.022-1.442-.082 2.669 1.699 5.832 2.668 9.242 2.668 11.086 0 17.147-9.062 17.147-16.917 0-.263-.01-.517-.022-.769a11.932 11.932 0 0 0 3.02-3.087z" />
                </svg></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCosXctaTYxN4YPIvI5Fpcrw"><svg
                    xmlns="http://www.w3.org/2000/svg" width="31" height="21" viewBox="0 0 31 21">
                    <path fill="white" fill-rule="nonzero"
                        d="M28.88 2.755c-.797-1.4-1.662-1.657-3.424-1.755C23.696.882 19.272.833 15.44.833c-3.84 0-8.266.05-10.024.165-1.758.1-2.625.356-3.429 1.757C1.165 4.152.743 6.559.743 10.797V10.81c0 4.22.422 6.645 1.243 8.028.804 1.399 1.67 1.653 3.427 1.77 1.76.102 6.186.162 10.026.162 3.833 0 8.258-.06 10.02-.16 1.76-.117 2.626-.371 3.423-1.77.828-1.383 1.247-3.809 1.247-8.028v-.01-.005c0-4.239-.419-6.646-1.25-8.043zM11.762 16.24V5.365l9.184 5.437-9.184 5.438z" />
                </svg></a>
            <div class="go-back-footer">
                <a href="#nav">Volver al incio</a>
            </div>
        </div>
    </div>
    <div class="footer-container-below">
        <ul>
            <li><a href="https://tienda.coca-cola.com.ar/cordoba/terms">Terminos y Condiciones</a></li>
            <li>
                <hr>
            </li>
            <li><a href="https://www.cocacoladeargentina.com.ar/nuestra-compania">Politicas de privacidad</a></li>
            <li>
                <hr>
            </li>
            <li><a href="#">Reclamos</a></li>
        </ul>
    </div>

</footer>
